<!-- Language Selection -->
<select (change)="changeLanguage($event)">
  <option value="en">English</option>
  <option value="hi">Hindi</option>
</select>

<div class="auth-container">
  <h2>{{ 'LOGIN' | translate }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <!-- Email Field -->
    <div class="input-container">
      <input formControlName="email" type="email" [placeholder]="'EMAIL' | translate" required>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
        <span *ngIf="loginForm.get('email')?.errors?.['required']">{{ 'EMAIL_REQUIRED' | translate }}</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']">{{ 'EMAIL_INVALID' | translate }}</span>
      </div>
    </div>

    <!-- Password Field -->
    <div class="input-container">
      <input formControlName="password1" type="password" [placeholder]="'PASSWORD' | translate" required>
      <div *ngIf="loginForm.get('password1')?.invalid && loginForm.get('password1')?.touched" class="error-message">
        <span *ngIf="loginForm.get('password1')?.errors?.['required']">{{ 'PASSWORD_REQUIRED' | translate }}</span>
        <span *ngIf="loginForm.get('password1')?.errors?.['minlength']">{{ 'PASSWORD_MIN_LENGTH' | translate }}</span>
      </div>
    </div>

    <!-- Login Button -->
    <button type="submit" class="btn" [disabled]="!loginForm.valid">{{ 'LOGIN' | translate }}</button>
  </form>

  <p><a href="#">{{ 'FORGOT_PASSWORD' | translate }}</a></p>
  <p>{{ 'NO_ACCOUNT' | translate }} <a (click)="toggleForm()">{{ 'SIGNUP' | translate }}</a></p>
</div>
